doom/.doom.d/config.el
.vim/.netrwhist
.vim/plugged/*
.vim/view/*
.vim/autoload/*
.vim/spell/*
br.fish
agenda.fish
.taskrc
fish_variables
.zcompdump
packer_compiled.lua
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/kitty.conf.bak
